@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  @apply bg-radial dark:from-sky-950 dark:to-black from-[10%] via-slate-950/90 via-50% bg-no-repeat min-h-screen;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
